Repository jak103/uno, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, automation

add gitignore
  client/.gitignore
Labels: client

Added unit tests for routeHandlers.go
  server/routeHandler_test.go
Labels: server

Add unit tests
  server/go.sum
  server/uno_test.go
Labels: server

Recreated package lock file
  client/package-lock.json
Labels: client

Add merge conflict checker
  .github/workflows/merge-conflict-checker.yml
Labels: automation

Add better name to workflow
  .github/workflows/merge-conflict-checker.yml
Labels: automation

Add Sonar Cloud settings file
  sonar-project.properties
Labels: none

Test commit
  README.md
Labels: documentation

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js or *_test.go files in test folders
test:
- any ['client/**/*.spec.js', 'server/**/*_test.go']

# Add 'client' label to any change in client folder or any subfolders
client:
- client/**/*

# Add 'server' label to any change in server folder or any subfolders
server:
- server/**/*

# Add 'documentation' label to any change in a readme file
documentation:
- '**/README.md'

# Add 'automation' label to any change to github folder or subfolder
automation:
- .github/**/*
