Repository jak103/uno, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, automation

I hope I got it this time
  server/routeHandler_test.go
Labels: server

finished
  server/routeHandler_test.go
  server/uno_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  README.md
  server/routeHandler_test.go
Labels: server, documentation

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

Add deck utils that generate and shuffle an actual Uno deck
  server/deckUtils.go
  server/deckUtils_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

removed github actions
  .github/workflows/integration.yml
  client/package.json
  integration-tests.yml
Labels: client, automation

I hope I got it this time
  server/routeHandler_test.go
Labels: server

reverted back to npm install
  client/package.json
Labels: client

I hope I got it this time
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server

Update go.yml
  .github/workflows/go.yml
Labels: automation

install shell
  .github/workflows/integration.yml
  client/Dockerfile
  client/install.sh
  client/package-lock.json
  client/package.json
  integration-tests.yml
Labels: client, automation

added install scripts
  client/install.sh
Labels: client

Removed external install
  client/package.json
Labels: client

removed blank.yml
  .github/workflows/blank.yml
Labels: automation

added in artifacts
  .github/workflows/integration.yml
Labels: automation

Remove firestore and tidy go.mod
  docker-compose.yml
  server/go.mod
  server/go.sum
  server/main.go
  server/routeHandler_test.go
  server/routeHandlers.go
  server/uno.go
Labels: server

updated install process in integration.yml
  .github/workflows/integration.yml
Labels: automation

reset anonymous mount
  .gitignore
  client/Dockerfile
  docker-compose.yml
Labels: client

changed everything back to serve
  client/package.json
  docker-compose.yml
Labels: client

Revert install process to match dev
  .github/workflows/integration.yml
  .gitignore
  client/Dockerfile
  client/install.sh
  client/package.json
  docker-compose.yml
Labels: client, automation

Delete blank.yml
  .github/workflows/blank.yml
Labels: automation

pipeline npm install
  .github/workflows/integration.yml
Labels: automation

cd for install
  .github/workflows/integration.yml
Labels: automation

remove coverage directory
  client/coverage/clover.xml
  client/coverage/coverage-final.json
  client/coverage/lcov-report/base.css
  client/coverage/lcov-report/block-navigation.js
  client/coverage/lcov-report/index.html
  client/coverage/lcov-report/prettify.css
  client/coverage/lcov-report/prettify.js
  client/coverage/lcov-report/sort-arrow-sprite.png
  client/coverage/lcov-report/sorter.js
  client/coverage/lcov.info
Labels: client

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js or *_test.go files in test folders
test:
- any ['client/**/*.spec.js', 'server/**/*_test.go']

# Add 'client' label to any change in client folder or any subfolders
client:
- client/**/*

# Add 'server' label to any change in server folder or any subfolders
server:
- server/**/*

# Add 'documentation' label to any change in a readme file
documentation:
- '**/README.md'

# Add 'automation' label to any change to github folder or subfolder
automation:
- .github/**/*
