Repository jak103/uno, changes with the labels that .github/labeler.yml gives for each.
All labels: client, server, documentation, automation

.github/labeler.yml:

# Add 'test' label to any change to *.spec.js or *_test.go files in test folders
test:
- any ['client/**/*.spec.js', 'server/**/*_test.go']

# Add 'client' label to any change in client folder or any subfolders
client:
- client/**/*

# Add 'server' label to any change in server folder or any subfolders
server:
- server/**/*

# Add 'documentation' label to any change in a readme file
documentation:
- '**/README.md'

# Add 'automation' label to any change to github folder or subfolder
automation:
- .github/**/*

Coverage to 33% added 3 tests
  server/routeHandler_test.go
Labels: server

Revert "Create blank.yml"
  .github/workflows/blank.yml
Labels: automation

Adding unit tests for uno and one for routeHandler
  server/routeHandler_test.go
  server/uno_test.go
Labels: server

Created tests for contains, randColor, randCard. Raises coverage from 20.9 to 31.9
  server/routeHandler_test.go
  server/uno_test.go
Labels: server

Change newRandomCard() to return a card instead of an array
  server/uno.go
Labels: server

Remove merge conflict markers from package-lock.json
  client/package-lock.json
Labels: client

Uno.go unit tests
  server/uno_test.go
Labels: server

Added login unit test
  server/routeHandler_test.go
Labels: server

Added update unit test
  server/routeHandler_test.go
Labels: server

Added play unit test
  server/routeHandler_test.go
Labels: server

Added draw unit test
  server/routeHandler_test.go
Labels: server

Created testing file for uno.go with rand tests.
  server/uno_test.go
Labels: server

Added unit test for contains()
  server/uno_test.go
Labels: server

Add in basic support for Vue tests
  client/jest.config.js
  client/package-lock.json
  client/package.json
Labels: client

Create test_uno.go
  server/test_uno.go
Labels: server

correct naming
  server/uno_test.go
Labels: server

Added print statements for each test function.
  server/routeHandler_test.go
Labels: server

add login unit tests
  server/uno_test.go
Labels: server

Worked out two test cases
  server/uno_test.go
Labels: server

Worked out two test cases
  server/uno_test.go
Labels: server

Added unit tests
  server/uno_test.go
Labels: server

Add unit tests for Card component
  client/src/components/Card.vue
  client/tests/unit/Card.spec.js
Labels: client

Added test for Login
  server/routeHandler_test.go
Labels: server

Update Readme with basic frontend test instructions
  README.md
Labels: documentation

Adding Unit Testing - Assignment 2
  server/uno_test.go
Labels: server

Added test for Update and Draw route handlers
  server/routeHandler_test.go
Labels: server

added tests except startgame as it was erroring with panic error
  client/package-lock.json
  server/routeHandler_test.go
Labels: client, server

Unit Tests
  server/routeHandler_test.go
  server/uno_test.go
Labels: server

increased the coverage from 20.9% to 40.7 by creating tests for randColor(), CheckID(), CheckForWinner()
  server/go.sum
  server/uno_test.go
Labels: server

unit tests
  client/package-lock.json
  server/routeHandler_test.go
Labels: client, server

added a few unit tests. I think I did them right?
  server/routeHandler_test.go
  server/uno_test.go
  uno - Shortcut.lnk
Labels: server

removed an accidentally committed file
  uno - Shortcut.lnk
Labels: none

Added tests for drawing cards, for both numbers and colors.
  server/uno_test.go
Labels: server

Add unit test for checkForWinner()
  server/uno_test.go
Labels: server

added Tests
  server/routeHandler_test.go
Labels: server

finished it all up
  server/routeHandler_test.go
Labels: server

I made a mistake that I'm looking for I hope I found it
  server/routeHandler_test.go
Labels: server

asdf
  server/routeHandler_test.go
Labels: server

passing function
  server/routeHandler_test.go
Labels: server

I hope I got it this time
  server/routeHandler_test.go
Labels: server
