Repository jak103/uno, pull requests merged in 2020-08, with the labels that each got.

#155 Show num card round 3
  client/src/services/unoService.js
  client/src/views/Game.vue
  server/routeHandlers.go
Labels: side: backend, side: frontend, type: feature

#156 Db interface create game updates
  server/db/FirestoreDB.go
  server/db/MockDB.go
  server/db/MongoDB.go
  server/db/UnoDB.go
  server/uno.go
Labels: side: backend

#141 Organize cards
  client/package-lock.json
  client/src/views/About.vue
  client/src/views/Game.vue
Labels: side: frontend

#157 Nav drawer
  client/src/views/Game.vue
Labels: side: frontend

#187 Chat
  client/package-lock.json
  client/package.json
  client/src/components/Chat.vue
  client/src/services/unoService.js
  client/src/views/Game.vue
  server/db/FirestoreDB.go
  server/db/MockDB.go
  server/db/MongoDB.go
  server/db/UnoDB.go
  server/model/Game.go
  server/model/Message.go
  server/routeHandlers.go
  server/uno.go
Labels: side: backend, side: frontend, type: feature
